@model ArchivosPlanosWebV2._5.Models.ControlesExportar
@{
    ViewBag.Title = "Index";
}


@section Scripts {

    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>
        $("#mensaje2").hide();
        $(document).ready(function () {
            $(".loading-screen").hide();

            $("#botonPython").click(function () {
                var delegacion = $("#DelegacionesId").val()
                var plaza= $("#PlazaCobroId").val()
                var turno = $("#TurnoId").val()
                var fecha = $("#FechaInicio").val()
                $('#mensaje2').hide()
                $("#OkValidar").hide()
                $("#mensajeModal").empty()
                $("#tituloModal").empty()

                var json = {
                    DelegacionesId: delegacion,
                    PlazaCobroId: plaza,
                    TurnoId: @Model.TurnoId,
                    FechaInicio: fecha
                }
                console.log(json)
                console.log(@Model.TurnoId)
                  $.ajax({
                      url: '@Url.Action("Comprimir", "Exportar")',
                      type: "POST",
                      contentType: "application/json",
                      data: JSON.stringify(json),
                      cache: false,
                      success: function (data) {
                          console.log(data)
                          console.log(data.errores)
                          if (data.errores) {
                              $("#mensajeModal").append(data.mensaje)
                              $("#tituloModal").append(data.titulo)
                              $("#reValidar").show()
                              $('#mensaje2').show()
                          }
                          else {
                              $('#mensaje2').show()
                              $("#mensajeModal").append(data.mensaje)
                              $("#tituloModal").append(data.titulo)
                              $("#reValidar").hide()
                              $("#OkValidar").show()
                          }
                       },
                      error: function (ex) {
                            alert("Error!!!" + ex)
                        },
                    });
            })

            $("#reValidar").click(function () {
                var delegacion = $("#DelegacionesId").val()
                var plaza= $("#PlazaCobroId").val()
                var turno = $("#TurnoId").val()
                var fecha = $("#FechaInicio").val()
                $("#OkValidar").hide()
                $('#mensaje2').hide()
                $("#mensajeModal").empty()
                $("#tituloModal").empty()

                var json = {
                    DelegacionesId: delegacion,
                    PlazaCobroId: plaza,
                    TurnoId: @Model.TurnoId,
                    FechaInicio: fecha
                }
                  $.ajax({
                      url: '@Url.Action("Comprimir", "Exportar")',
                      type: "POST",
                      contentType: "application/json",
                      data: JSON.stringify(json),
                      cache: false,
                      success: function (data) {
                          if (data.errores) {
                              $("#mensajeModal").append(data.mensaje)
                              $("#tituloModal").append(data.titulo)
                              $("#reValidar").show()
                              $('#mensaje2').show()
                          }
                          else {
                              $('#mensaje2').show()
                              $("#mensajeModal").append(data.mensaje)
                              $("#tituloModal").append(data.titulo)
                              $("#reValidar").hide()
                              $("#OkValidar").show()
                          }
                       },
                      error: function (ex) {
                            alert("Error!!!" + ex)
                        },
                    });
            })
            $("#OkValidar").click(function () {
                $("#OkValidar").show()
                $("#reValidar").show()
                $('#mensaje2').hide();
            })

            $("#FechaInicio").change(function () {
                var value = $("#FechaInicio").val()
                var fElegida = new Date(Date.parse(value))

                if (fElegida <= new Date()) {

                    $('#TurnoId').empty()
                    if (value == new Date().toISOString().split('T')[0])
                        value = "null"

                    $.ajax({
                        url: '@Url.Action("GetTurnos", "Exportar")' + '?fecha=' + value,
                        type: "GET",
                        cache: false,
                        success: function (data) {
                            $.each(data, function (i, row) {
                                var $option = $('<option>');
                                $option.val(row.Value);
                                $option.html(row.Text);
                                $('#TurnoId').append($option);
                            });
                        },
                        error: function (ex) {
                            alert("Error!!!" + ex)
                        },
                    });
                }
                else {
                    var f = new Date().toISOString().split("T")[0]
                    $("#FechaInicio").val(f)
                    $('#TurnoId').empty()
                    $.ajax({
                        url: '@Url.Action("GetTurnos", "Exportar")' + '?fecha=' + 'null',
                        type: "GET",
                        cache: false,
                        success: function (data) {
                            $.each(data, function (i, row) {
                                var $option = $('<option>');
                                $option.val(row.Value);
                                $option.html(row.Text);
                                $('#TurnoId').append($option);
                            });
                        },
                        error: function (ex) {
                            alert("Error!!!" + ex)
                        },
                    });
                    alert("Fecha Invalida")
                }
            });

            $("#top2").click(function () {
                $(".loading-screen").show();
                $("#top3").css("visibility", "visible");
            });


            $('#mensaje').modal('show')
            LoadDelegaciones();
            LoadPlazas();
            LoadTurnos();
            Show();
        });



        function LoadDelegaciones() {
            $.ajax({
                url: '@Url.Action("GetDelegaciones", "Exportar")',
                type: "GET",
                data: "{}",
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#DelegacionesId').append($option);
                    });
                },
                error: function (ex) {
                    alert("Error!!!" + ex);
                },
            });
        }



        function LoadPlazas() {
            $.ajax({
                url: '@Url.Action("GetPlazaCobro", "Exportar")',
                type: "GET",
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#PlazaCobroId').append($option);
                    });
                },
                error: function (ex) {
                    alert("Error!!!" + ex)
                },
            });
        }


        function LoadTurnos() {
        $.ajax({
            url: '@Url.Action("GetTurnos", "Exportar",new { fecha = "null" })',
            type: "GET",
            cache: false,
            success: function (data) {
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Value);
                    $option.html(row.Text);
                    $('#TurnoId').append($option);
                });
            },
            error: function (ex) {
                alert("Error!!!" + ex)
            },
        });
    }

    </script>

    @using (Html.BeginForm("Index", "Exportar", FormMethod.Post))
    {

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Delegaciones", htmlAttributes: new { @class = "titulos", id = "top" })
                        @Html.DropDownListFor(x => x.DelegacionesId, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                        @*@Html.DropDownList("DelegacionId", new List<SelectListItem> { }, "Delegación III Queretaro", htmlAttributes: new { @class = "form-control" })*@
                        @*@Html.DropDownListFor(x => x.DelegacionesId ,new List<SelectListItem> { new SelectListItem { Value = "03", Text = "Delegación III Queretaro" } }, htmlAttributes: new  {@class = "form-control" })*@

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Plazas de cobros", htmlAttributes: new { @class = "titulos" })
                        @Html.DropDownListFor(x => x.PlazaCobroId, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Turnos", htmlAttributes: new { @class = "titulos" })
                        @Html.DropDownListFor(x => x.TurnoId, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">

                        @Html.Label("Fecha de inicio", htmlAttributes: new { @class = "titulos" })
                        @Html.EditorFor(x => x.FechaInicio)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary crear" value="Exportar" id="top2" />
                </div>

            </div>

        </div>

        <div class="loading-screen">
            <div class="cargar">
                <span class="loader"></span>
                <span class="loader"></span>
                <span class="loader"></span>
                <span class="loader"></span>
            </div>
        </div>


    }

    @if (ViewBag.List != null)
    {
        <script>
            function Show() {
                $("#myModal").modal()
                $(document).ready(function () {
                    $("#Subir").click(function () {
                        var Comentario = $("textarea#myModal").val();
                        $.ajax({
                            type: "POST",
                            url: "/Exportar/Index",
                            data: { Comentario }

                        });

                    });
                });

            }
        </script>
    }

    <div class="container" id="cargar">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <script>alert(indi.Text);</script>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="modal-title">Agregar comentarios</h4>
                    </div>
                    <div class="modal-body">
                        <form id="myForm">
                            <textarea class="form-control" id="myModal"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal" id="Subir">Mandar Comentario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*CASO EN EL QUE YA VALIDO TODO EL PYTHON*@
    @if (ViewBag.Mensaje != null && ViewBag.Python != true)
    {
        <div class="modal" tabindex="-1" role="dialog" id="mensaje">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@ViewBag.Titulo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Raw(ViewBag.Mensaje)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @*CASO EN EL QUE TODABIA HAY QUE VALIDOR CON EL PYTHON*@
    @if (ViewBag.Mensaje != null && ViewBag.Python == true)
    {
        <div class="modal" tabindex="-1" role="dialog" id="mensaje">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@ViewBag.Titulo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Raw(ViewBag.Mensaje)</p>
                    </div>
                    <div class="modal-footer">
                        <button id="botonPythonComprimir" type="button" class="btn btn-danger" data-dismiss="modal">No Validar Solo Comprimir</button>
                        <button id="botonPython" type="button" class="btn btn-secondary" data-dismiss="modal">ReValidar</button>
                    </div>
                </div>
            </div>
        </div>
    }


}

<div tabindex="-1" role="dialog" id="mensaje2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tituloModal" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p id="mensajeModal"></p>
            </div>
            <div class="modal-footer">
                <button id="reValidar" type="button" class="btn btn-secondary">ReValidar</button>
                <button id="OkValidar" type="button" class="btn btn-secondary">Ok</button>
            </div>
        </div>
    </div>
</div>